/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'; */
/* @import 'https://fonts.googleapis.com/css?family=Century:300,400,500'; */

body {
  margin: 0;
  padding: 0;
}

main {
  /* Centering */
  /* margin: 0 auto; */
  /* max-width: 50em; */

  /* fonts */
  font-family: "Helvetica", "Arial", sans-serif;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-family: "Century", "Georgia", serif; */

  /* spacing */
  line-height: 1.5;
  /* padding: 4em; */
  padding-bottom: 8em;

  /* color and contrast */
  /* color: #555; */
  color: #566b78;
}

h1,
h2,
strong {
  color: #333;
}

h1,
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  margin-top: 1.5em;
}

/* a {
  color: #e81c4f;
} */

:root {
  --btn-font-color: #fff;

  /* --btn-border-color: #9d2e65;
  --btn-color-dark: #d16098;
  --btn-color-light: #ec92be;
  */

  /* --btn-border-color: #987400;
  --btn-color-dark: #CB9F00;
  --btn-color-light: #FFCC00; */

  --btn-border-color: #B4AA99;
  --btn-color-dark: #4D4637;
  --btn-color-light: #FFCC00;
}

.btn-primary {
  /* background-color: #FFCC02; */
  /* color: #333; */
  /* padding: 8px 12px; */
  /* border: 0; */
  /* border-radius: 3px; */
  /* font-size: 1em; */
  /* background: linear-gradient(#E57C04, #FFCC02); */
  /* border-color: #E57C04; */
  /* color: #fff; */
  /* background: linear-gradient(#ec92be, #d16098); */

  cursor: pointer;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 1em;

  /* border: 1px solid white; */
  /* background-color: #FFCC00; */
  color: #333;

  background-color: #ffc579;
  background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
  border: 1px solid #ffad41;
  /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */



  /* background: var(--btn-color-light);
  color: var(--btn-font-color);
  border: 1px solid var(--border-color);
  background: linear-gradient(to bottom, var(--btn-color-light), var(--btn-color-dark)); */


}

/* Code blocks */
/* code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
} */

dt {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

dl {
  text-align: justify;
}

.book-title {
  margin-bottom: 0;
}

.book-author {
  font-style: italic;
  margin-top: 0;
}

.checkout-button-sku_F1INse7ZB79EZ9 {
  cursor: pointer;
}


.price-tag {
  display: block;
  position: absolute;
  top: 20px;
  left: 256px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding: 12px 10px 12px 8px;
  color: #614611;
  background: #ffc579;
  z-index: 1;
  /* box-shadow: 0px 2px 3px grey; */
}

.price-tag:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 21px;
  border-right-color: #ffc579;
  position: absolute;
  top: 0;
  right: 100%;
}

/* .author-figure {
  margin: 0;
  background-position: center;
  background-size: cover;
  background-image: url(https://adrianmejia.com/images/adrian-mejia-halfbody.png);
  width: 100%;
  height: 500px;
} */

.author-image {
  width: 100%;
  max-width: 350px;
}

details {
  margin-bottom: 20px;
}

details p {
  font-style: italic;
}

summary {
  font-weight: bold;
}

.dark-bg {
  background-color: rgb(241,244,248);
  width: 100%;
}

/* Layout */

.hsection {
  padding: 4em;
}

.hsection2 > * {
  margin: 0 auto;
  max-width: 50em;
}

.hsection .content {
  margin: 0 auto;
  max-width: 50em;
}

/*  */

.container {
  max-width: 1140px;
  /* max-width: 50em; */
  width: 100%;
  padding: 4em;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

/* Bloquotes */

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
}

blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)
  No media query since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .flex-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .hero-text {
    /* margin: auto; */
  }

  .flex-container {
    display: flex;
    align-items: flex-start;
  }

  .hero-text {
    margin-left: 100px;
  }

  .author-image {
    width: 500px;
    float: left;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
